:root {
  --purple: #a2d;
  --purple-7: #729;
  --blue: #2ad;
  --blue-7: #069;
  --green: #2da;
  --green-7: #098;
  --yellow: #ed5;
  --yellow-7: #cb1;
  --orange: #e75;
  --orange-7: #c53;
  --pink: #e37;
  --pink-7: #e37;
  --deg: 135deg;
  --bg-flow: linear-gradient(var(--deg), var(--palette));
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(var(--deg), var(--palette));
  background-size: 400% 400%;
  position: relative;
  animation: flow-bg 36s ease-in-out infinite;
  color: var(--text);
  font-family: 'Abel', 'Helvetica', 'Arial', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', 'Helvetica', 'Arial', sans-serif;
}

.container {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.info {
  max-width: 24rem;
  min-width: 22rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow:
    inset 0px 2px #fffc,
    inset 2px 0px #fff6,
    inset -2px 0px #fff6,
    inset 0px -3px #fff4;
  border-radius: 1.5rem;
  padding: 1.3rem 0;
  background-color: #fff4;
  backdrop-filter: blur(10px);
  transition: box-shadow 2s ease-out;
}

/* .info:hover {
  box-shadow:
    inset 0px 2px #fffc,
    inset 2px 0px #fff6,
    inset -2px 0px #fff6,
    inset 0px -3px var(--pink);
} */

.info::before {
  --rad: -3px;
  content: '';
  position: absolute;
  top: var(--rad);
  left: var(--rad);
  right: var(--rad);
  bottom: var(--rad);
  box-shadow:
    inset 0px 1px #fffc,
    inset 1px 0px #fff6,
    inset -1px 0px #fff6,
    inset 0px -1px #fff4;
  border-radius: inherit;
  z-index: -1;
}

.profile-photo {
  background: center/contain no-repeat url('https://picsum.photos/200.webp');
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
}

.profile-photo::before {
  content: '';
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 1rem var(--yellow);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 5s;
  transition-timing-function: ease-in;
}

.profile-photo::before:hover {
  opacity: 1;
}


.profile-heading {
  font-variant-caps: small-caps;
  cursor: pointer;
}

.info a {
  color: var(--links);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  cursor: pointer;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.text-secondary {
  font-size: 1rem;
  font-family: 'Permanent Marker';
  text-transform: uppercase;
}

p {
  margin-top: 3px;
}

.list-inline {
  margin: 2rem auto;
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  top: calc(50% + 12rem);
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.25rem;
}

.social {
  background: linear-gradient(45deg, var(--palette));
  background-size: 400% 400%;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  font-size: 22pt;
  animation: flow-bg 36s ease-in-out infinite;
  color: var(--text);
}

.social::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -14px;
  background-color: var(--text);
  border-radius: inherit;
  z-index: -1;
}

.social a {
  width: 100%;
  height: 100%;
}

.social i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
}

/* .bubble {
  position: absolute;
  left: 0;
  top: 0;
  width: 12rem;
  height: 12rem;
  background: radial-gradient(5rem, #fff, transparent);
  border-radius: 50%;
  backdrop-filter: blur(1rem);
  animation: float 36s ease-in-out infinite;
} */

/* MODAL */
#overlay {
  background: #0006;
  position: fixed;
}

#overlay.show {
  opacity: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#overlay.hide {
  opacity: 0;
  width: 0;
  height: 0;
}

#modal-bg {
  position: absolute;
  max-width: 30rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(225deg, var(--palette));
  background-size: 400% 400%;
  border-radius: 1rem;
  padding: 0.5rem; */
}

#modal {
  background-color: #fff;
  min-height: 100%;
  min-width: 100%;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 12px;
  overflow: hidden;
}

.modal-header {
  background: linear-gradient(225deg, var(--palette));
  background-size: 400% 400%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#cancelModal {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 900;
  /* transform: scale(1.15, 1); */
  cursor: pointer;
}

.modal-body {
  color: #000;
  padding: 10px;
}

.quote {
  padding: 5px;
}

/* ANIMATIONS */
@keyframes flow-bg {
  0% {
    background-position: 0% 0%
  }

  20% {
    background-position: 50% 100%
  }

  50% {
    background-position: 100% 100%
  }

  70% {
    background-position: 100% 50%
  }

  90% {
    background-position: 0% 50%
  }

  100% {
    background-position: 0% 0%
  }
}


@keyframes float {
  0% {
    left: 20%;
    top: 110%;
  }

  20% {
    left: 30%;
  }

  30% {
    left: 25%;
  }

  40% {
    left: 35%;
  }

  60% {
    left: 23%;
  }

  80% {
    left: 33%;
  }

  100% {
    left: 27%;
    top: -15rem;
  }
}

/* THEME */
.light {
  --text: #fff;
  --links: var(--yellow);
  --palette: var(--orange), var(--pink), var(--blue), var(--green);
}

.dark {
  --text: #fff;
  --links: var(--pink);
  --palette: var(--orange-7), var(--pink-7), var(--blue-7), var(--green-7);
}
